version: '3.8'
services:
  mongodb:
    image: mongo:latest
    container_name: shoppy-mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: shoppy
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data: